USE [SmartCart]
GO
/****** Object:  StoredProcedure [dbo].[ProPurchaseListSelect]    Script Date: 13-01-2026 22:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**********************************************************************
Stored Procedure : ProPurchaseListSelect
Created By       : Muhammed Faris
Created On       : 12/12/2025

PURPOSE
  Admin-side listing of all purchase invoices with advanced filters:
    • Search: SupplierName, InvoiceNumber
    • Filter: Supplier, Date Range
    • Sorting
    • Pagination
    • Total record count

USED BY
  ✔ Admin Panel → Purchases List
  ✔ Inventory Manager
  ✔ Auditing / Verification Team

INPUT PARAMETERS
  @SearchText         → Search by SupplierName / InvoiceNumber
  @FilterSupplierIDs  → JSON: [ { "ID_Value": 2 }, ... ]
  @FromDate           → Filter PurchaseDate >=
  @ToDate             → Filter PurchaseDate <=
  @PageIndex          → Pagination
  @PageSize           → Pagination
  @SortColumn         → Dynamic sort
  @SortMode           → ASC / DESC

OUTPUT
  - Paginated list
  - TotalCount summary

**********************************************************************/

ALTER   PROCEDURE [dbo].[ProPurchaseListSelect]
(
    @SearchText NVARCHAR(255) = '',
    @FilterSupplierIDs NVARCHAR(MAX) = '',
    @FromDate DATE = NULL,
    @ToDate DATE = NULL,

    @PageIndex INT = 1,
    @PageSize INT = 20,

    @SortColumn VARCHAR(50) = '',
    @SortMode VARCHAR(5) = 'DESC'
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE 
        @SqlStr NVARCHAR(MAX),
        @TotalCount BIGINT;

    -------------------------------------------------------------------
    -- TEMP TABLE
    -------------------------------------------------------------------
    CREATE TABLE #tmpPurchases
    (
        RowID BIGINT IDENTITY(1,1),
        ID_Purchase INT,
        SupplierName NVARCHAR(255),
        InvoiceNumber NVARCHAR(100),
        PurchaseDate DATE,
        TotalAmount DECIMAL(12,2),
        CreatedOn DATETIME,
        Cancelled BIT,
        CancelledOn DATETIME,
        CancelledReason NVARCHAR(500)
    );

    -------------------------------------------------------------------
    -- BASE QUERY
    -------------------------------------------------------------------
    SET @SqlStr = N'
        INSERT INTO #tmpPurchases
        (
            ID_Purchase,
            SupplierName,
            InvoiceNumber,
            PurchaseDate,
            TotalAmount,
            CreatedOn,
            Cancelled,
            CancelledOn,
            CancelledReason
        )
        SELECT
            p.ID_Purchase,
            s.SupplierName,
            p.InvoiceNumber,
            p.PurchaseDate,
            p.TotalAmount,
            p.CreatedOn,
            p.Cancelled,
            p.CancelledOn,
            p.CancelledReason
        FROM Purchase p WITH(NOLOCK)
        INNER JOIN Supplier s ON s.ID_Supplier = p.FK_Supplier
        WHERE 1 = 1
    ';

    -------------------------------------------------------------------
    -- SEARCH FILTER
    -------------------------------------------------------------------
    IF (@SearchText <> '' AND LEN(@SearchText) >= 2)
        SET @SqlStr += '
            AND (
                s.SupplierName LIKE ''%' + @SearchText + '%'' 
                OR p.InvoiceNumber LIKE ''%' + @SearchText + '%''
            )
        ';

    -------------------------------------------------------------------
    -- SUPPLIER FILTER USING JSON
    -------------------------------------------------------------------
    IF (@FilterSupplierIDs <> '' AND @FilterSupplierIDs <> '[]')
        SET @SqlStr += '
            AND p.FK_Supplier IN (
                SELECT ID_Value FROM OPENJSON(@FilterSupplierIDs)
                WITH (ID_Value INT ''$.ID_Value'')
            )
        ';

    -------------------------------------------------------------------
    -- DATE RANGE FILTER
    -------------------------------------------------------------------
    IF (@FromDate IS NOT NULL)
        SET @SqlStr += ' AND p.PurchaseDate >= ''' + CONVERT(NVARCHAR(20), @FromDate, 23) + ''' ';

    IF (@ToDate IS NOT NULL)
        SET @SqlStr += ' AND p.PurchaseDate <= ''' + CONVERT(NVARCHAR(20), @ToDate, 23) + ''' ';

    -------------------------------------------------------------------
    -- SORTING
    -------------------------------------------------------------------
    IF (@SortColumn <> '' AND @SortMode <> '')
    BEGIN
        SET @SqlStr += ' ORDER BY ' +
            CASE 
                WHEN @SortColumn = 'PurchaseDate' THEN 'p.PurchaseDate'
                WHEN @SortColumn = 'SupplierName' THEN 's.SupplierName'
                WHEN @SortColumn = 'TotalAmount' THEN 'p.TotalAmount'
                WHEN @SortColumn = 'InvoiceNumber' THEN 'p.InvoiceNumber'
                ELSE 'p.ID_Purchase'
            END + ' ' + @SortMode;
    END
    ELSE
        SET @SqlStr += ' ORDER BY p.ID_Purchase DESC';

    -------------------------------------------------------------------
    -- EXEC BASE QUERY
    -------------------------------------------------------------------
    EXEC sp_executesql @SqlStr,
        N'@FilterSupplierIDs NVARCHAR(MAX)', @FilterSupplierIDs;

    SET @TotalCount = @@ROWCOUNT;

    -------------------------------------------------------------------
    -- PAGINATION RESULT
    -------------------------------------------------------------------
    SELECT 
        ID_Purchase,
        SupplierName,
        InvoiceNumber,
        PurchaseDate,
        TotalAmount,
        CreatedOn,
        Cancelled,
        CancelledOn,
        CancelledReason
    FROM #tmpPurchases
    WHERE RowID BETWEEN ((@PageIndex - 1) * @PageSize + 1)
                    AND (@PageIndex * @PageSize);

    -------------------------------------------------------------------
    -- SUMMARY
    -------------------------------------------------------------------
    SELECT 
        @TotalCount AS TotalCount,
        @PageIndex AS PageIndex,
        @PageSize AS PageSize;

    DROP TABLE #tmpPurchases;
END;
