USE [SmartCart]
GO
/****** Object:  StoredProcedure [dbo].[ProPurchaseDetailSelect]    Script Date: 13-01-2026 22:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**********************************************************************
Stored Procedure : ProPurchaseDetailSelect
Created By       : Muhammed Faris
Created On       : 12/12/2025

PURPOSE
  Fetch complete purchase details for a single purchase:
    • Purchase header
    • Supplier details
    • All purchase detail rows
    • Variants & VariantValues (SKU attributes)
    • Stock rows linked to each purchase detail

USED BY
  ✔ Admin Panel → Purchase View Page
  ✔ Inventory Team → Stock Verification
  ✔ Auditing → Invoice Review

INPUT
  @ID_Purchase  → Purchase to view

OUTPUT (3 Result Sets)
  1) Purchase Header
  2) PurchaseDetail rows (with Variant attributes)
  3) Stock rows for each detail

**********************************************************************/
ALTER   PROCEDURE [dbo].[ProPurchaseDetailSelect]
(
    @ID_Purchase INT
)
AS
BEGIN
    SET NOCOUNT ON;

    -------------------------------------------------------------------
    -- VALIDATION
    -------------------------------------------------------------------
    IF NOT EXISTS (SELECT 1 FROM Purchase WHERE ID_Purchase = @ID_Purchase)
    BEGIN
        SELECT -1 AS ResponseCode,
               'Invalid Purchase ID.' AS ResponseMsg,
               0 AS StatusCode;
        RETURN;
    END

    -------------------------------------------------------------------
    -- RESULT SET 1: PURCHASE HEADER
    -------------------------------------------------------------------
    SELECT 
        p.ID_Purchase,
        p.FK_Supplier,
        s.SupplierName,
        p.InvoiceNumber,
        p.PurchaseDate,
        p.TotalAmount,
        p.Notes,
        p.CreatedOn,
        p.Cancelled,
        p.CancelledOn,
        p.CancelledReason
    FROM Purchase p WITH(NOLOCK)
    LEFT JOIN Supplier s ON s.ID_Supplier = p.FK_Supplier
    WHERE p.ID_Purchase = @ID_Purchase;



    -------------------------------------------------------------------
    -- RESULT SET 2: PURCHASE DETAILS WITH VARIANT ATTRIBUTES
    -------------------------------------------------------------------
    SELECT 
        pd.ID_PurchaseDetail,
        pd.FK_Purchase,
        pd.FK_ProductVariant,
        pv.FK_Product,
        pr.Name AS ProductName,

        pd.Quantity,
        pd.PurchasePrice,
        pd.MRP,
        pd.ExpiryDate,
        pd.CreatedOn,
        pd.Cancelled,

        -- Variant attributes (Color, Size, Print…)
        STUFF((
            SELECT 
                ', ' + v.VariantName + ':' + vv.ValueName
            FROM ProductVariantAttribute pva
            INNER JOIN Variant v ON v.ID_Variant = pva.FK_Variant
            INNER JOIN VariantValue vv ON vv.ID_VariantValue = pva.FK_VariantValue
            WHERE pva.FK_ProductVariant = pd.FK_ProductVariant
            ORDER BY v.DisplayOrder
            FOR XML PATH(''), TYPE
        ).value('.', 'NVARCHAR(MAX)'), 1, 2, '') AS VariantAttributes
    FROM PurchaseDetail pd WITH(NOLOCK)
    INNER JOIN ProductVariant pv ON pv.ID_ProductVariant = pd.FK_ProductVariant
    INNER JOIN Product pr ON pr.ID_Product = pv.FK_Product
    WHERE pd.FK_Purchase = @ID_Purchase
      AND pd.Cancelled = 0
    ORDER BY pd.ID_PurchaseDetail ASC;



    -------------------------------------------------------------------
    -- RESULT SET 3: STOCK BATCHES
    -------------------------------------------------------------------
    SELECT 
        s.ID_Stock,
        s.FK_PurchaseDetail,
        s.FK_ProductVariant,
        s.Quantity,
        s.CreatedOn,
        s.Cancelled,
        s.CancelledOn,
        s.CancelledReason
    FROM Stock s WITH(NOLOCK)
    INNER JOIN PurchaseDetail pd 
        ON pd.ID_PurchaseDetail = s.FK_PurchaseDetail
    WHERE pd.FK_Purchase = @ID_Purchase
    ORDER BY s.ID_Stock ASC;


END;
