<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template></Template><TotalTime>33</TotalTime><Application>LibreOffice/26.2.6.1$Windows_X86_64 LibreOffice_project/d1ee4fa77ef37aa4cfa80ea6fd156dcae5d60263</Application><AppVersion>15.0000</AppVersion><Pages>127</Pages><Words>21412</Words><Characters>132735</Characters><CharactersWithSpaces>151230</CharactersWithSpaces><Paragraphs>3157</Paragraphs></Properties>